.App {
  text-align: center;
  background-color: #282c34;
}

/* Design for playground contentbox */
.playgroundContentBox {
  background-color: white;
  min-height: 100px;
  padding: 10px;
}

/* Code embed */
.codesnip {
  width: 100%;
  overflow: auto;
  border-radius: 10px;
}

/* Stylig for Bootstrap Demo page */
.bootstrapExampleColumn {
  background-color: #bdc3c7;
  border: 1px solid #c0392b;
  color: white;
  text-align: center;
  padding: 0px !important;
}
